<div class="container">

    <div class="contont">
        <div class="left">
            <div class="header">
                <h1 class="header-h1">Why People like Us ?
                </h1>
                <br>
                <h6 class="header-h6"> The One-stop Shopping Destination. E-commerce is <br> revolutionizing
                    the way we all shop in India.....</h6>
                <br>
                <button type="button" class="btn btn-success">Contact us -></button>
            </div>
        </div>
        <div class="right">
          <div class="right-left">
            <div class="delivary">
                <img class="delivary-img" src="../../assets/image/delivary_1-removebg-preview.png" alt="">
                <h1 class="delivary-h1">Fast delivary</h1>
                <br>
                <h6>The One-stop Shopping Destination.</h6>
            </div>
            <div class="coin">
                <img class="coin-img" src="../../assets/image/supercoin 2-removebg-preview.png" alt="">
                <h1 class="coin-h1">Super Coin</h1>
                <br>
                <h6>The One-stop Shopping Destination.</h6>
            </div>
          </div>

          <div class="right-right">
            <div class="discound">
                <img class="discound-img" src="../../assets/image/discount-removebg-preview.png" alt="">
                <h1>Instant Discound</h1>
                <br>
                <h6>The One-stop Shopping Destination.</h6>
            </div>
            <div class="customar">
                <img class="customar-img" src="../../assets/image/costomor-removebg-preview.png" alt="">
                <h1>Customar Support</h1>
                <br>
                <h6>The One-stop Shopping Destination.</h6>
            </div>
          </div>
        </div>
    </div>

</div>

