<div class="container">
    <div class="head"><h1>Mobile</h1></div>
    <br>
    <div class="des"><h6>The One-stop Shopping Destination. E-commerce is revolutionizing 
        the way we all shop in India.....</h6></div>
    <br>

    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Mobile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Heatset</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Computer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Man Dress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Woman Dress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Kids Dress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Home Applaices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">help</a>
              </li>
          </ul>
    </div>

    <br>

    <div class="contant">
        <div class="left">
            <div class="Mobile-row">
              <div class="Mobile">
                <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
              </div>
                <div class="model">
                    <h3>oppo</h3>
                    <h6>The One-stop Shopping Destination.</h6>
                </div>
            </div>
                <br>
                <div class="Mobile-row">
                <div class="Mobile">
                    <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
                  </div>
                <div class="model">
                    <h3>Vivo</h3>
                    <h6>The One-stop Shopping Destination.</h6>
                </div>
            </div>
                <br>
                <div class="Mobile-row">
                <div class="Mobile">
                    <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
                  </div>
                <div class="model">
                    <h3>Samsong</h3>
                    <h6>The One-stop Shopping Destination.</h6>
                </div>
            </div>
                <br>
                <div class="Mobile-row">
                <div class="Mobile">
                    <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
                  </div>
                <div class="model">
                    <h3>Nokia</h3>
                    <h6>The One-stop Shopping Destination.</h6>
                </div>
            </div>
                <br>
                <div class="Mobile-row">
                <div class="Mobile">
                    <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
                  </div>
                <div class="model">
                    <h3>Poco</h3>
                    <h6>The One-stop Shopping Destination.</h6>
                </div>
            </div>
                <br>
                <div class="Mobile-row">
                <div class="Mobile">
                    <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
                  </div>
                <div class="model">
                    <h3>Mi</h3>
                    <h6>The One-stop Shopping Destination.</h6>
                </div>
            </div>
            <br>
        </div>

        <div class="right">
            <div class="Mobile-row">
            <div class="Mobile">
                <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
              </div>
            <div class="model">
                <h3>Iphone</h3>
                <h6>The One-stop Shopping Destination.</h6>
            </div>
        </div>
            <br>
            <div class="Mobile-row">
            <div class="Mobile">
                <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
              </div>
            <div class="model">
                <h3>Infinix</h3>
                <h6>The One-stop Shopping Destination.</h6>
            </div>
        </div>
            <br>
            <div class="Mobile-row">
            <div class="Mobile">
                <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
              </div>
            <div class="model">
                <h3>Realme</h3>
                <h6>The One-stop Shopping Destination.</h6>
            </div>
        </div>
            <br>
            <div class="Mobile-row">
            <div class="Mobile">
                <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
              </div>
            <div class="model">
                <h3>Nothing</h3>
                <h6>The One-stop Shopping Destination.</h6>
            </div>
        </div>
            <br>
            <div class="Mobile-row">
            <div class="Mobile">
                <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
              </div>
            <div class="model">
                <h3>Redmi</h3>
                <h6>The One-stop Shopping Destination.</h6>
            </div>
        </div>
            <br>
            <div class="Mobile-row">
            <div class="Mobile">
                <img src="../../assets/image/phone_logo-removebg-preview.png" alt="">
              </div>
            <div class="model">
                <h3>Motorola</h3>
                <h6>The One-stop Shopping Destination.</h6>
            </div>
        </div>
            <br>
        </div>
    </div>

    <div class="end">
        <button type="button" class="btn btn-success">Contact us -></button>
    </div>
</div>