<div class="container">

    <div class="contont">

        <div class="left">
            <img src="../../assets/image/offer 2.avif" alt="">
        </div>

        <div class="right">
            <div class="heater">
                <h1>Flipkart Super Discound <br>
                    Offer.....
                </h1>
                <br>
                <h6> The One-stop Shopping Destination. E-commerce is revolutionizing <br>
                    the way we all shop in India.....</h6>
                <br>
                <button type="button" class="btn btn-success">Contact us -></button>
            </div>
        </div>
       
    </div>

</div>

