<div class="container">
    

    <div class="contont">
       
        <div class="left">
            <div class="header">
                <h1>The Best Delivary & <br>
                    Good Experience.....
                </h1>
                <br>
                <h6> The One-stop Shopping Destination. E-commerce is revolutionizing
                    the way we all shop in India.....</h6>
                <br>
                <button ype="button" class="btn btn-success">Contact us -></button>
            </div>
        </div>
        <div class="right">
            <div class="img-header">
                <img src="../../assets/image/tv1-removebg-preview.png" alt="">
            </div>
        </div>
    </div>

</div>
